*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
} 
.slider{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.slider img{
     width: 30px; 
     height: 30px;
}
.slider-content{
    width: 100%;
}
.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    z-index: 1000;
}
.arroew-left{
    left: 30px;
}
.arrow-right{
    right: 0px;
}
.slide{
    width: 100%;
    display: block;
}
.slide img{
     width: 100%; 
     height: 600px;
     object-fit: cover;
     /* animation-name: animacia; */
     /* animation-duration: 5s; */
}
.dot{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}
.dots{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.dot.active{
    background-color: #228b22;
}
.image-slider{
    width: 100%; 
    height: 580px;
    object-fit: cover; 
    background-repeat: no-repeat;
}
h2{
    color: #000000;
    margin-top: 30px;
}