*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.registracia{
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.regblok{
    width: 33%;
    margin-left: 40px; 
    margin-right: 40px;
}
.regimg{
    width: 100%;
}
.regimgg{
    margin-top: 65px;
}
.regmtavari{
    width: 33.33%; 
    background-color: #ffffcc;
    margin-left: 5px;
}
.regform input{
    width: 90%;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-left: 35px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}
.regtxt{ 
    font-size: 24px;
    margin-left: 35px;
    margin-bottom: 30px;
}
#chek{
    width: 5%;
}
#sabmit{
    background-color: #0051ff;
    font-size: 16px;
    cursor: pointer;
}
.error-text{
    color: #ff0000;
    font-size: 14px;
    font-style: italic;
    display: block;
}
#male, #female{
    width: 5%; 
    /* padding-left: -100px; */
    margin-bottom: 25px;
}
#pass, #gapass{
    width: 85%;
}
.fa-eye{
    color: #0051ff;
    font-size: 25px;
}
#icon1, #icon2{
    cursor: pointer;
}